/* Importando fontes externas */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/**/


body {

    display: flex;

    font-family: 'Poppins', sans-serif;

    margin: 0;
    padding: 0;
}

.menuDash {
    height: 100vh;
    width: 330px;

    background-color: white;
    

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    position:fixed;
  z-index:999;

    padding: 0px 40px;
}

.menuDash .header {
    width: 100%;
    height: 60px;
    

    /* background-color: green; */

    display: flex;
    justify-content: space-between;
}

.menuDash .header .logo {
    height: 100%;

    /* border: 1px solid gray; */

    display: flex;
    align-items: center;
}

.menuDash .header .logo img {
    width: 30px;
}

.menuDash .header .logo span {
    font-size: 25px;

    color: #919191;

    margin-left: 10px;
}

.menuDash .header .submenu {
    height: 100%;

    /* border: 1px solid black; */

    display: flex;
    align-items: center;
}

.menuDash .header .submenu img {
    width: 20px;
}

.menuDash .header .submenu span {
    font-size: 20px;

    color: #3F917A;

    margin-left: 10px;
}

.menuDash .calendario {
    height: 250px;

    /* border: 5px dashed #00825D; */

    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menuDash .calendario .titulo{
    color: #00825D;
    font-size: 20px;
    font-weight: bold;
}

.menuDash .calendario img{
    width: 60px;

    margin-top: 10px;
}

.menuDash .suporte {
    width: 100%;

    /* background-color: blue; */

    display: flex;
    flex-direction: column;
}

.menuDash .suporte .tittle {
    font-size: 20px;

    font-weight: bold;
}

.menuDash .suporte span {
    font-size: 15px;

    margin-top: 10px;
}

.menuDash .suporte button {
    width: 100px;
    height: 40px;
    font-size: 15px;

    background-color: #00825D;
    color: white;
    border: none;
    border-radius: 10px;

    margin-top: 20px;
}





.all_dash{
    width: 100%;
    display: flex;
    justify-content: right;
}

.dash_main {
    width: 67%;

    background-color: #F3F2F2;

    display: flex;
    flex-direction: column;
    padding: 40px 20px;
}

.dash_main .headerzinho {
    width: 350px;

    /* background-color: green; */

    display: flex;
    flex-direction: column;
}

.header_princ{
    display: flex;

    /* background-color: red; */

    justify-content: space-between;
}

.header_princ .add{
    width: 400px;

    /* background-color: aqua; */

    display: flex;
    align-items: center;
}

.add button{
    width: 50px;
    height: 40px;
    font-size: 25px;

    background: none;
    border: 3px solid #00825D;
    border-radius: 5px;
    font-family: 'Poppins',sans-serif;
    color: #00825D;
    font-weight: bold;
    cursor: pointer;
}

.add button:hover{
    background-color: #00825D;
    color: white;;
}

.header_princ img{
    width: 20px;
    margin-left: 10px;
}

.sair{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.dash_main .titulo {
    font-size: 25px;

    color: #3F917A;
    font-weight: bold;
}

.dash_main .subTit {
    font-size: 15px;
}

.dash_main .adm_main {
    width: 100%;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

.dash_main .adm_main .adm_membro {
    width: 200px;
    height: 60px;

    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 3px 6px rgba(126, 126, 126, 0.75);

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
}

.dash_main .adm_main .adm_membro .titulo{
    font-size: 15px;
}

.dash_main .tel{
    color: rgb(121, 121, 121);
}

.dash_main .adm_main .adm_membro img{
    width: 40px;
}

.cadastroAdm{
    background-color: white;
    position: fixed;
    margin-left: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 6px rgba(126, 126, 126, 0.75);

    padding: 20px 50px;
}

.cadastroAdm .headerC{
    width: 100%;
    height: 60px;
    /* background-color: blue; */

    display: flex;
    justify-content: end;
    align-items: center;
}

.headerC img{
    width: 30px;
    margin-right: 20px;
    cursor: pointer;
}

.tituloC{
    width: 80%;
    height: 100px;

    /* background-color: green; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mainC{
    display: flex;
    flex-direction: column;
}

.mainC input{
    font-size: 20px;
    width: 400px;
    margin-top: 20px;
    border: none;
    border-bottom: 1px solid rgb(100, 100, 100);
    padding: 10px;
}

input:focus{
    outline: none;
}

.cadastroAdm button{
    width: 150px;
    height: 40px;
    background-color: #00825D;
    color: white;
    font-size: 20px;
    border: none;
    margin-top: 30px;
    border-radius: 5px;
    cursor: pointer;
}



.dash_main .adm_plantacoes {
    width: 100%;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

.adm_plantacoes .adm_plantacao {
    width: 200px;
    height: 60px;

    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 3px 6px rgba(126, 126, 126, 0.75);

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    cursor: pointer;
}

.adm_plantacao:hover{
    border: 1px solid #00825D;
}

.adm_plantacao .titulo{
    font-size: 15px;
}

.dash_plantacao .tel{
    color: rgb(121, 121, 121);
}

.adm_plantacao img{
    width: 40px;
}

.dash_main .anotacao .anotacao_main {
    display: flex;
    justify-content: space-between;
}

.dash_main .anotacao .anotacao_main .bloco {
    width: 290px;
    min-height: 150px;

    background-color: white;
    

    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bloco span{
    font-size: 13px;
    color: gray;
}

.dash_main .anotacao .anotacao_main .bloco textarea {
    width: 90%;

    font-family: 'Poppins', sans-serif;
    border: none;

    padding: 10px;
}

.dash_main .anotacao .anotacao_main .bloco textarea:focus {
    outline: none;
}

.dash_main .anotacao .anotacao_main .bloco input {
    width: 20%;
    height: 40px;

    border: none;
}

.dash_main .anotacao .anotacao_main .bloco input:focus {
    outline: none;
}

.dash_main .umitempJunt{
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.umitempJunt .titulo{
    text-align: center;
}

#juntos{
    display: none;
}

#sep{
    display: none;
}

.umitempJunt .main_umitempJunt{
    width: 600px;

    background-color: white;
    border-radius: 30px;

    padding: 30px;
}

.dash_main .main_umitemp {
    /* background-color: red; */
    width: 100%;

    display: flex;
}

.main_umitemp .umi {
    width: 50%;

    /* background-color: blue; */

    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_umitemp .temp {
    width: 50%;

    /* background-color: blue; */
    /* border: 1px solid yellow; */

    display: flex;
    align-items: center;
    flex-direction: column;
}

.main_umitemp .card {
    width: 250px;
    height: 100px;

    background-color: white;
    box-shadow: 0px 3px 6px rgba(126, 126, 126, 0.75);
    border-radius: 30px;

    margin-top: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.card .titulo {
    font-size: 16px;
}

.card .numSens {
    font-size: 30px;

    color: #3F917A;
    font-weight: bold;
}

.main_umitemp .main_umi {
    width: 90%;
    height: 200px;

    background-color: white;
    box-shadow: 0px 3px 6px rgba(126, 126, 126, 0.75);
    border-radius: 30px;

    margin-top: 30px;
}

.main_umitemp .main_temp {
    width: 90%;
    height: 200px;

    background-color: white;
    box-shadow: 0px 3px 6px rgba(126, 126, 126, 0.75);
    border-radius: 30px;

    margin-top: 30px;
}

.btn_mesc{
    width: 100%;
    /* background-color: green; */

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
}

.btn_mesc button{
    height: 40px;
    font-size: 15px;

    border: none;
    border-radius: 5px;
    background-color: #00825D;
    color: white;
    
    padding: 0px 20px;
}


.solicitacao{
    width: 100%;

    /* background-color: red; */

    display: flex;
    flex-direction: column;
}

.main_solic{
    display: flex;
    margin-top: 20px;
}

.solic{
    width: 50%;
    height: 400px;

    /* background-color: yellow; */

    display: flex;
    flex-wrap: wrap;
    padding: 20px;

    overflow: auto;
}

.solic .solic_empresa{
    height: 60px;
    width: 200px;

    background-color: white;
    cursor: pointer;
    border-radius: 10px;

    margin-left: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.solic .solic_empresa:hover{
    border: 1px solid black;
}

.solic .solic_empresa img{
    width: 50px;
    border-radius: 50px;
}

.solic .solic_empresa .titulo{
    font-size: 15px;
}

.solic .solic_empresa .descricao{
    font-size: 15px;
    color: gray;
}

.solic .solic_empresa .online{
    width: 10px;
    height: 10px;

    background-color: green;
    border-radius: 100%;
}

.solic .solic_empresa .desconectado{
    width: 10px;
    height: 10px;

    background-color: red;
    border-radius: 100%;
}
.g_solic{
    width: 30%;
    height: 400px;

    /* background-color: white; */

    display: flex;
    justify-content: center;
    flex-direction: column;

    margin-left: 70px;
}
.pesquisa{
    width: 100%;
    height: 30px;

    /* background-color: red; */
    border: 1px solid rgb(146, 146, 146);
    border-radius: 10px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.pesquisa input{
    height: 30px;
    width: 80%;
    font-size: 15px;

    border: none;
    background:none;
}

.pesquisa input:focus{
    outline: none;
}

.pesquisa img{
    width: 20px;
}

.cadastro_adm{
    display: none;
}


.cadastro_main{
    position: fixed;

    width: 1000px;
    height: 500px;

    background-color: red;
}




::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background-color: white;
}

::-webkit-scrollbar-thumb{
    background-color: #00825D;
    border-radius: 50px;
}