/* Importando fontes externas */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/**/


body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    background-color: #F8F8F8;
}

header{
    height: 60px;
    font-size: 25px;
    /* background-color: red; */

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0px 40px;
}

header span{
    margin-left: 10px;
    color: gray;
}

header img{
    width: 30px;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu{
    /* background-color: red; */
    width: 200px;
    
    display: flex;
    justify-content: space-between;
}

.menu b{
    font-size: 15px;
}

.tittle{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tittle .titulo{
    color: #00825D;    
    font-size: 35px;
    font-weight: bold;
}

.tittle .subtitulo{
    font-size: 20px;
}

.tittle input{
    width: 400px;
    height: 50px;
    font-size: 20px;
    font-family: 'Poppins';
    border-radius: 89px;
    border: 1px solid gray;
    padding: 0px 30px;
    margin-left: 50px;
}

input:focus{
    outline: none;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
    width: 830px;
    margin-top: 60px;
}

.container .card{
    width: 400px;
    height: 200px;
    background-color: white;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 6px rgba(126, 126, 126, 0.75);
}

.headerCard{
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerCard .dados{
    font-size: 35px;
    color: black;
    font-weight: bold;
    margin-left: 20px;
}


.msg{
    font-size: 25px;
    text-align: center;
    margin-top: 30px;
}

.buttons{
    display: flex;
    justify-content: left;
    align-items: center;

    margin-top: 40px;
}

.simulador{
    width: 300px;
    height: 100px;

    background-color: #00825D;
    border-radius: 20px;
    color: white;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transform: scale(1);
    transition: all .2s ease-in-out;
    transition-duration: 0.2s;
}

.simulador:hover {
    transform: scale(1.1);
    transition: all .2s ease-in-out;
    transition-duration: 0.2s;
}

.simulador .text{
    font-size: 20px;
    width: 70%;
}

.simulador img{
    width: 50px;
}

a{
    text-decoration: none;
}

.dashboard{
    width: 300px;
    height: 100px;
    font-size: 20px;

    border: 5px solid #00825D;
    color: #00825D;
    border-radius: 20px;
    cursor: pointer;

    margin-left: 130px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transform: scale(1);
    transition: all .2s ease-in-out;
    transition-duration: 0.2s;
}

.dashboard:hover {
    transform: scale(1.1);
    transition: all .2s ease-in-out;
    transition-duration: 0.2s;
}

.dashboard .text{
    width: 70%;
}

.dashboard img{
    width: 50px;
}

.but {
    font-size: 15px;
    color: #000000;
    background: none;
    font-family: 'Poppins',sans-serif;
    text-align: none;
    height: 70%;
    border-radius: 18px;
    border-style: none;
    cursor: pointer;
}

.main{
    width: 100%;
    display: flex;
    /* background-color: green; */
}

.main .left_side{
    background-color: #F8F8F8;
    padding: 60px 10px 60px 100px;
}

.perigo{
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 10px;
    margin-left: 50px;
}

.alerta{
    width: 20px;
    height: 20px;
    background-color: yellow;
    border-radius: 10px;
    margin-left: 50px;
}

.ok{
    width: 20px;
    height: 20px;
    background-color: green;
    border-radius: 10px;
    margin-left: 50px;
}

.row{
    display: flex;
    margin-top: 20px;
}

.descricao{
    width: 700px;
    /* border: 2px solid red; */
    display: flex;
}

.descricao span{
    margin-left: 10px;
}

.right_side{
    height: 400px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.right_side .titulo{
    font-size: 18;
    font-weight: bold;
}

.right_side .subtitulo{
    font-size: 15px;
    color: #5B5B5B;
}

.bloco{
    width: 96%;
    height: 70px;
    /* background-color: yellow; */
    margin-top: 30px;
    border: 3px solid #00825D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}