/* Importando fontes externas */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/**/


body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}

header{
    height: 60px;
    font-size: 25px;
    /* background-color: red; */

    display: flex;
    justify-content: left;
    align-items: center;

    padding: 0px 40px;
}

header span{
    margin-left: 10px;
    color: gray;
}

header img{
    width: 30px;
}

.container {
    display: flex;
}

.container2{
    padding: 1%;
    margin: 2%;
    width: 45%;
    height: 300px;
    background-color: #F3F2F2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container3{
    padding: 1%;
    margin: 2%;
    width: 45%;
    height: 300px;
    background-color: #F3F2F2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container2 .msg{
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container3 .msg2{
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.msg img{
    width: 50px;
}

.msg2 img{
    width: 50px;
}

.msg .dados{
    font-size: 20px;
    color: #00825D;
    font-weight: bold;

    display: flex;
    flex-direction: column;

    margin-left: 20px;
    margin-top: 10px;
}

.msg2 .dados2{
    font-size: 20px;
    color: #00825D;
    font-weight: bold;

    display: flex;
    flex-direction: column;

    margin-left: 20px;
    margin-top: 10px;
}

.buttons{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 40px;
}

.simulador{
    width: 300px;
    height: 100px;

    background-color: #00825D;
    border-radius: 20px;
    color: white;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transform: scale(1);
    transition: all .2s ease-in-out;
    transition-duration: 0.2s;
}

.simulador:hover {
    transform: scale(1.1);
    transition: all .2s ease-in-out;
    transition-duration: 0.2s;
}

.simulador .text{
    font-size: 20px;
    width: 70%;
}

.simulador img{
    width: 50px;
}

a{
    text-decoration: none;
}

.dashboard{
    width: 300px;
    height: 100px;
    font-size: 20px;

    border: 5px solid #00825D;
    color: #00825D;
    border-radius: 20px;
    cursor: pointer;

    margin-left: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transform: scale(1);
    transition: all .2s ease-in-out;
    transition-duration: 0.2s;
}

.dashboard:hover {
    transform: scale(1.1);
    transition: all .2s ease-in-out;
    transition-duration: 0.2s;
}

.dashboard .text{
    width: 70%;
}

.dashboard img{
    width: 50px;
}