/* Importando fontes externas */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/**/



/* Formatação da página */
body{
    margin: 0;
    font-family:'Poppins',sans-serif;
}

a{
    text-decoration: none;
}
/**/



/* Estilizando o header */
header{
    height: 60px;

    border-bottom: 1px solid #D6D6D6;

    padding: 5px 40px;
}

header .img_menu{
    display: none;
    cursor: pointer;
}

header .titulo{
    display: flex;
}

header .titulo img{
    margin-top: 5px;
}

header .header_main{
    width: 100%;
    height: 100%;

    /* background-color: rgb(255, 180, 180); */

    display: flex;
    align-items: center;
    justify-content: space-between;

}

header .header_main img{
    width: 30px;
}

header .header_main span{
    font-size: 30px;

    color: #919191;

    margin-left: 10px;
}

/* header .header_main .menu{
    background-color: blue;
} */

header .header_main .menu ul{
    width: 800px;

    display: flex;
    justify-content: space-evenly;
}

header .header_main .menu ul li{
    font-size: 20px;

    list-style-type: none;
    color: #919191;
    cursor: pointer;
}

header .header_main .menu ul li a{
    color: #919191;
}

header .header_main .menu ul li a:hover{
    color: black;
}


header .header_main .menu ul .ativo{
    border-bottom: 2px solid #00825D;
}

header .header_main .menu ul .ativo a {
    color: black;
}

header .header_main button{
    font-size: 20px;
    width: 100px;
    height: 40px;

    background-color: white;
    border: 1px solid #00825D;
    border-radius: 8px;

    /* padding: 10px; */
}

header .header_main .btn_entrar button {
    color: #00825D;
    transform: scale(1.0);
    transition: all .2s ease-in-out;
    transition-duration: all 0.2s;
}

header .header_main .btn_entrar button:hover {
    color: white;
    background: #00825D;
    transform: scale(1.1);
    transition: all .2s ease-in-out;
    transition-duration: all 0.2s;
}
/**/

.titulo_princ{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 800;
    color: rgb(109, 109, 109);
    margin-top: 90px;
}


main{
    display: flex;
}

main .left_side{
    padding: 50px 80px 0px 100px;
}

main .titulo{
    font-size: 25px;
    width: 500px;

    color: #00825D;

    font-weight: 800;
}

main .texto{
    color: rgb(66, 66, 66);
}

main .left_side img{
    width: 500px;
}

main .little_title{
    color: gray;
}

main .right_side{
    margin-right: 80px;
    padding: 50px 0px 0px 100px;
}

main .right_side img{
    width: 500px;
}

.main_two{
    padding: 50px 100px;
}

.main_two .titulo{
    font-size: 25px;

    color: #00825D;

    font-weight: 800;
}

.main_two .texto{
    color: rgb(66, 66, 66);
}

.little_banner{
    background-image: url(https://cptstatic.s3.amazonaws.com/imagens/enviadas/materias/materia29421/cana-de-acucar-cpt.jpg);
    width: 100%;
    height: 200px;
    background-size: cover;
}




footer{
    background-color: #eeeeee;
    display: flex;
    padding: 50px 50px;
}

footer .logo{
    font-size: 25px;

    font-weight: bold;
    border-right: 1px solid rgb(167, 167, 167);
    color: #464646;

    padding: 30px;
}

footer .footer_one{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer .footer_one .direitos{
    margin-top: 10px;
    margin-left: 40px;
    color: rgb(100, 100, 100);
}

footer .menu{
    display: flex;
    justify-content: center;
    align-items: center;
}


footer .menu a{
    margin-left: 40px;
    color: rgb(65, 65, 65);
}

footer .email{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(65, 65, 65);
    margin-left: 200px;
}

footer .email span{
    margin-top: 10px;
}

footer .email img{
    width: 30px;
}