/* Importando fontes externas */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/**/



/* Formatação da página */
body{
    margin: 0;
    font-family:'Poppins',sans-serif;
}

a{
    text-decoration: none;
}
/**/



/* Estilizando o header */
header{
    height: 60px;

    border-bottom: 1px solid #D6D6D6;

    padding: 5px 40px;
}

header .img_menu{
    display: none;
    cursor: pointer;
}

header .titulo{
    display: flex;
}

header .titulo img{
    margin-top: 5px;
}

header .header_main{
    width: 100%;
    height: 100%;

    /* background-color: rgb(255, 180, 180); */

    display: flex;
    align-items: center;
    justify-content: space-between;

}

header .header_main img{
    width: 30px;
}

header .header_main span{
    font-size: 30px;

    color: #919191;

    margin-left: 10px;
}

/* header .header_main .menu{
    background-color: blue;
} */

header .header_main .menu ul{
    width: 800px;

    display: flex;
    justify-content: space-evenly;
}

header .header_main .menu ul li{
    font-size: 20px;

    list-style-type: none;
    color: #919191;
    cursor: pointer;
}

header .header_main .menu ul li a{
    color: #919191;
}

header .header_main .menu ul li a:hover{
    color: black;
}


header .header_main .menu ul .ativo{
    border-bottom: 2px solid #00825D;
}

header .header_main .menu ul .ativo a {
    color: black;
}

header .header_main button{
    font-size: 20px;
    width: 100px;
    height: 40px;

    background-color: white;
    border: 1px solid #00825D;
    border-radius: 8px;

    /* padding: 10px; */
}

header .header_main .btn_entrar button {
    color: #00825D;
}

header .header_main .btn_entrar button {
    transform: scale(1.0);
    transition: all .2s ease-in-out;
    transition-duration: all 0.2s;
}

header .header_main .btn_entrar button:hover {
    color: white;
    background: #00825D;
    transform: scale(1.1);
    transition: all .2s ease-in-out;
    transition-duration: all 0.2s;
}
/**/



/* Estilização do banner da home*/
main{
    padding: 0px 0px 0px 100px;
}

.container{
    width: 100%;

    display: flex;
    justify-content: space-between;
}

.container .left_side{
    width: 50%;

    /* background-color: yellow; */

    padding: 60px 140px 100px 50px;
}

.container #titulo{
    font-size: 50px;

    color: #00825D;
}

.container #texto{
    font-size: 25px;

    color: #919191;
}

.container .left_side .fake_button{
    width: 220px;
    font-size: 25px;

    background-color: #00825D;
    color: white;
    text-align: center;
    border-radius: 15px;

    padding: 10px 0px;
    cursor: pointer;
}

.container .left_side .fake_button:hover{
    animation: bounce2 1s linear;
}

.container .left_side .flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .left_side .flex #a{
    font-size: 23px;

    text-decoration: none;
    color: #00825D;
}

.container .left_side .flex #a_cliqueAqui{
    color: white;
}

.container .right_side{
    /* background-color: blue; */

    padding: 90px 20px 0px 0px;
}

.container .right_side img{
    animation: bounce 2s linear;
}
/**/


/* Deixando responsivo */


@media screen and (max-width:1250px) {
    /* body{
        background-color: red;
    } */

    .container .right_side img{
        width: 300px;
    }

    .container #titulo{
        font-size: 40px;
    }
    
    .container #texto{
        font-size: 20px;
    }
    
    .container .left_side .fake_button{
        width: 160px;
        font-size: 20px;
    }
    
}

@media screen and (max-width:1000px) {
    /* body{
        background-color: red;
    } */

    .container .right_side img{
        width: 200px;
    }

    .container #titulo{
        font-size: 35px;
    }
    
    .container #texto{
        font-size: 18px;
    }
    
    .container .left_side .fake_button{
        width: 130px;
        font-size: 18px;
    }

    .container .left_side .flex #a{
        font-size: 18px;
    }
    
}


@media screen and (max-width:850px) {
    body{
        background-color: red;
    }

    .container img{
        display: none;
    }

    .menu{
        display: none;
    }

    header .img_menu{
        display: block;
    }

    .container .right_side img{
        width: 200px;
    }

    .container #titulo{
        font-size: 35px;
    }
    
    .container #texto{
        font-size: 18px;
    }
    
    .container .left_side .fake_button{
        width: 130px;
        font-size: 18px;
    }

    .container .left_side .flex #a{
        font-size: 18px;
    }
    
}


footer{
    background-color: #eeeeee;
    display: flex;
    padding: 50px 50px;
}

footer .logo{
    font-size: 25px;

    font-weight: bold;
    border-right: 1px solid rgb(167, 167, 167);
    color: #464646;

    padding: 30px;
}

footer .footer_one{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer .footer_one .direitos{
    margin-top: 10px;
    margin-left: 40px;
    color: rgb(100, 100, 100);
}

footer .menu{
    display: flex;
    justify-content: center;
    align-items: center;
}


footer .menu a{
    margin-left: 40px;
    color: rgb(65, 65, 65);
}

footer .email{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(65, 65, 65);
    margin-left: 200px;
}

footer .email span{
    margin-top: 10px;
}

footer .email img{
    width: 30px;
}




/* Animações */
@keyframes bounce {
    20%{
        transform: translate3d(0, -20px, 0);
    }

    40%{
        transform: translate3d(0, -10px, 0);
    }

    80%{
        transform: translate3d(0, 2px, 0);
    }

    100%{
        transform: translate3d(0, 0px, 0);
    }
}

@keyframes bounce2 {
    20%{
        transform: translate3d(0, -10px, 0);
    }

    40%{
        transform: translate3d(0, 0px, 0);
    }

    80%{
        transform: translate3d(0, 2px, 0);
    }

    100%{
        transform: translate3d(0, 0px, 0);
    }
}