/* Importando fontes externas */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/**/



/* Formatação da página */
body{
    margin: 0;
    font-family:'Poppins',sans-serif;
}

a{
    text-decoration: none;
}
/**/



/* Estilizando o header */
header{
    height: 60px;

    border-bottom: 1px solid #D6D6D6;

    padding: 5px 40px;
}

header .img_menu{
    display: none;
    cursor: pointer;
}

header .titulo{
    display: flex;
}

header .titulo img{
    margin-top: 5px;
}

header .header_main{
    width: 100%;
    height: 100%;

    /* background-color: rgb(255, 180, 180); */

    display: flex;
    align-items: center;
    justify-content: space-between;

}

header .header_main img{
    width: 30px;
}

header .header_main span{
    font-size: 30px;

    color: #919191;

    margin-left: 10px;
}

/* header .header_main .menu{
    background-color: blue;
} */

header .header_main .menu ul{
    width: 800px;

    display: flex;
    justify-content: space-evenly;
}

header .header_main .menu ul li{
    font-size: 20px;

    list-style-type: none;
    color: #919191;
    cursor: pointer;
}

header .header_main .menu ul li a{
    color: #919191;
}

header .header_main .menu ul li a:hover{
    color: black;
}


header .header_main .menu ul .ativo{
    border-bottom: 2px solid #00825D;
}

header .header_main .menu ul .ativo a {
    color: black;
}

header .header_main button{
    font-size: 20px;
    width: 100px;
    height: 40px;

    background-color: white;
    border: 1px solid #00825D;
    border-radius: 8px;

    /* padding: 10px; */
}

header .header_main .btn_entrar button {
    color: #00825D;
    transform: scale(1.0);
    transition: all .2s ease-in-out;
    transition-duration: all 0.2s;
}

header .header_main .btn_entrar button:hover {
    color: white;
    background: #00825D;
    transform: scale(1.1);
    transition: all .2s ease-in-out;
    transition-duration: all 0.2s;
}
/**/


/* Estilizando o banner */

.banner{
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner .left_side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner .titulo{
    font-size: 60px;
    color:#383838;
}

.banner .subtitulo{
    width: 400px;

    color: #4d4d4d;
    text-align: center;
}

.banner img{
    width: 80px;
}

.banner button{
    width: 150px;
    font-size: 20px;

    background-color: #00825D;
    color: white;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
    margin-top: 30px;
    padding: 10px 0px;
}

.banner .team{
    display: flex;
}

.banner .team .membro{
    width: 200px;
    animation: bounce 1s linear;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;

    color: black;

    cursor: pointer;
}


.banner .team .foto{
    width: 100px;
    height: 100px;

    border-radius: 100px;
}

.banner .team .foto img{
    width: 100%;
    border-radius: 200px;
}

.banner .team .nome{
    background-color: rgb(238, 238, 238);

    padding: 5px;
    margin-top: 10px;
}

.especialidade{
    margin-top: 5px;
    display: flex;
    align-items: center;
    color: rgb(58, 58, 58);
}

.especialidade img{
    width: 20px;
    margin-right: 5px;
    opacity: 0.7;
}

.btn_contato {
    transform: scale(1.0);
    transition: all .2s ease-in-out;
    transition-duration: all 0.2s;
}

.btn_contato:hover {
    transform: scale(1.1);
    transition: all .2s ease-in-out;
    transition-duration: all 0.2s;
}

footer{
    background-color: #eeeeee;
    display: flex;
    padding: 50px 50px;
}

footer .logo{
    font-size: 25px;

    font-weight: bold;
    border-right: 1px solid rgb(167, 167, 167);
    color: #464646;

    padding: 30px;
}

footer .footer_one{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer .footer_one .direitos{
    margin-top: 10px;
    margin-left: 40px;
    color: rgb(100, 100, 100);
}

footer .menu{
    display: flex;
    justify-content: center;
    align-items: center;
}


footer .menu a{
    margin-left: 40px;
    color: rgb(65, 65, 65);
}

footer .email{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(65, 65, 65);
    margin-left: 200px;
}

footer .email span{
    margin-top: 10px;
}

footer .email img{
    width: 30px;
}

@keyframes bounce {
    20%{
        transform: translate3d(0, -20px, 0);
    }

    40%{
        transform: translate3d(0, -10px, 0);
    }

    80%{
        transform: translate3d(0, 2px, 0);
    }

    100%{
        transform: translate3d(0, 0px, 0);
    }
}